:root {
  --project-blue-color: #5cadd3;
  --project-darkerblue-color: #4494bb;


  --project-grey-color: #e5e5e5;
  --project-lightergrey-color: #e5e5e5;
  --project-darkgrey-color: #46494d;
  font-size: 62.5%;
}

/* --- spécifications des polices ---*/

/* fontawsome  via web */

@font-face {
  font-family: "RobotoBlack";
  src: url("./fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoThin";
  src: url("./fonts/Roboto-Thin.ttf");
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 160%;
  font-family: "RobotoBlack", sans-serif;
  width: 100%;
}

section {
  margin-top: 0px;
  padding-top: 100px;
  /* padding-bottom: 150px; */
}

p {
  font-size: 0.\drem;
  color: var(--project-darkgrey-color);
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 10%;
  z-index: 3;
}

/* Logo WebAgency*/

header img {
  object-fit: scale-down;
  max-width: 20%;
  padding-left: 10%;
}

nav {
  padding-right: 3%;
}

/* Navigation Accueil*/

/* ul style reaches to "services" as well  */

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
}

nav li {
  margin-right: 15px;
  padding-left: 1.8rem;
}

nav a {
  font-size: 1.1rem;
  color: var(--project-darkgrey-color);
  padding-top: 20px;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover {
  border-top: 3px solid;
  border-top-color: var(--project-blue-color);
}

#slidescontainer {
  overflow: hidden;
  padding-top: 110px;
}

.slider {
  position: relative;
  margin: 0px;
  display: flex;
  flex-direction: row;
  width: 200%;
  animation: 15s slides infinite ease-in-out;
}

.slider img {
  width: 100%;
  /* related to 500% */
}

.slidertext {
  position: absolute;
  top: 55%;
  left: 10%;
  color: white;
  width: 40%;
}

.slidertext a {
  top: 0px;
  background-color: var(--project-blue-color);
  padding: 2%;
  border-bottom: 3px solid var(--project-darkerblue-color);
  border-radius: 5px;
  margin-top: 20px;
  font-family: "RobotoBold", sans-serif;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.slidertext p {
  color: white;
  font-size: 0.8rem;
}

.bluebar {
  position: absolute;
  bottom: 0;
  width: 0%;
  background-color: var(--project-blue-color);
  height: 1%;
  animation: progressbar 15s infinite ease-in-out;
}

.agencyname {
  color: var(--project-blue-color);
}

.fa-chevron {
  position: absolute;
  top: 55%;
  font-size: 1.2rem;
  background-color: var(--project-darkgrey-color);
  color: white;
}

.fa-chevron-left {
  left: -0.8%;
  border-radius: 20% 50% 50% 20%;
  /* padding: 22px 15px 22px 22px; */
  padding: 1.4rem 0.95rem 1.4rem 1.4rem;
}

.fa-chevron-right {
  right: -0.8%;
  border-radius: 50% 0% 0% 50%;
  padding: 22px 22px 22px 15px;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  font-size: 2rem;
}

/* ---keyframes du slider--- */

@keyframes slides {
  0% {
    left: 0%;
  }

  50% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes progressbar {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

/* fin de la pge d'acceuil  

  les services commencent ici */

hr {
  display: inline-block;
  width: 15%;
  color: var(--project-grey-color);
}

h2 {
  font-size: 3rem;
  margin: 10px;
}

section .services_core {
  flex-direction: row;
  padding: 0;
}

#services {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#services_list {
  margin: 0;
}

ul #services_list {
  display: flex;
  flex-flow: column wrap;
}

#services h2 {
  width: 30%;

  text-align: center;
}

.fa-circle {
  position: relative;
  color: var(--project-blue-color);
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  top: -20px;
  left: 0px;
}

#services_list li {
  height: 100px;
}

#text_services {
  width: 50%;
  text-align: center;
}

#monitor {
  min-width: 50%;
  object-fit: scale-down;
}

.fa-chart-line,
.fa-cubes,
.fa-chart-pie {
  position: relative;
  top: 76px;
  left: -75px;
  border: 1px solid var(--project-grey-color);
  border-radius: 50%;
  padding: 16px 15px 16px 15px;
  color: var(--project-blue-color);
  font-size: 1.8rem;
}

#services_list .fa-circle {
  background-color: white;
  top: 75px;
  left: -93px;
}

/* les services finnissent ici */

/* les projets commencent ici */

#projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#projects p {
  max-width: 50%;
  text-align: center;
}

#projects .projectselect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2%;
  height: 50px;
}

.projectselect li {
  position: relative;
  padding: 10px 5px 10px 5px;
  background-color: var(--project-grey-color);
  font-family: "RobotoBold", sans-serif;
  color: black;
  height: 20px;
  border-bottom: 3px solid var(--project-grey-color);
}

.projectselect li:first-of-type {
  border-radius: 5px 0 0 5px;
  color: white;
  background-color: var(--project-blue-color);
  border-bottom: 3px solid var(--project-darkerblue-color);
}

.projectselect li:last-of-type {
  border-radius: 0 5px 5px 0;
}

.projectselect li:hover {
  background-color: var(--project-blue-color);
  border-bottom: 3px solid var(--project-darkerblue-color);
}

.projectselect li:hover .triangle {
  opacity: 1;
}

.triangleactive {
  position: absolute;
  top: 100%;
  left: 47%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 7.5px 0 7.5px;
  border-color: var(--project-blue-color) transparent;
}

.triangle {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 47%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 7.5px 0 7.5px;
  border-color: var(--project-blue-color) transparent;
}

.projectdisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0px;
  max-width: 1250px;
}

.projectdisplay li figure {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin: 14px;
}

.projectdisplay img {
  width: 250px;
  object-fit: scale-down;
}

.projectdisplay li figcaption {
  position: absolute;
  opacity: 0;
  justify-content: center;
  color: white;
  height: 35%;
  width: 100%;
  top: 65%;
  left: 0px;
  background: var(--project-darkgrey-color);
}

.projectdisplay li:hover figcaption {
  opacity: 0.7;
}

.projectdisplay li figcaption span {
  font-weight: 900;
}

.fa-eye {
  display: flex;
  position: absolute;
  top: -32%;
  left: 85%;
  border: 1px solid var(--project-blue-color);
  border-radius: 50%;
  padding: 6px 7px;
  color-interpolation-filters: inherit;
  /* color: var(--project-blue-color); */
  z-index: 2;
}

/* 

.projectdisplay li:hover figcaption {
  opacity: 1;
} */

/* les projets finnissent ici */

/* les  contacts ici */

#contact {
  padding-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

iframe {
  width: 100%;
  height: 600px;
  opacity: 0.6;
}

.iframe {
  margin-top: 50px;
  padding-top: 0px;
  width: 100%;
  height: 600px;
  opacity: 0.9;
  background-color: var(--project-blue-color);
}

.contact-box-form {
  margin-top: 5%;
  margin-right: 3%;
  position: absolute;
  background: #9d9d9d3d;
  right: 0px;
  height: 65%;
  width: 20%;
  z-index: 2;
}

form textarea {
  height: 30%;
  width: 60%;
}

form .btn {
  padding: 6px;
  border-radius: 8px;
  color: white;
  font-weight: 900;
  background: var(--project-blue-color);
}

form .btn:hover {
  /*background: red;*/
  box-shadow: 3px 3px var(--project-darkerblue-color);

  transition: box-shadow 0.3s;
}

.contact-box-form span {
  font-weight: 900;
  color: black;
}